<h2 class="list-view-heading">List View</h2>

<mat-card class="list-container" *ngFor="let post of postList$ | async">
  <div class="flex-container">
    <app-post-image></app-post-image>
    <app-caption
      [postCaption]="post.caption"
      class="caption-text"
    ></app-caption>
    <app-user-details [userDetails]="post.user"></app-user-details>
    <app-likes-comments
      [counts]="post.counts"
      [postedTime]="post.postedAt"
    ></app-likes-comments>
    <button
      mat-stroked-button
      color="primary"
      [routerLink]="['/feed/details', post._id]"
    >
      Edit
    </button>
  </div>
</mat-card>
