@use '/src/assets/scss/colors' as colors;

.mat-stroked-button {
  border-radius: 20px;
  border: solid 2px colors.$alphin-blue;
  min-width: 100px;
}
.list-view-heading {
  color: colors.$alphin-blue;
}
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  color:colors.$alphin-blue;
  border-left: solid 12px colors.$alphin-blue;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.caption-text {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

.date-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .caption-text {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
